.about {
  background: var(--black-two);
}

.about .max-width {
  overflow: hidden;
}

.about .img-container {
  position: relative;
}

.about .img-container img {
  width: 320px;
  height: 420px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.about .img-container::before {
  content: "";
  background: var(--orange-main);
  border-radius: 50%;
  position: absolute;
  width: 700px;
  height: 700px;
  z-index: 1;
  right: 10%;
  top: 2%;
}

.about .content-container {
  display: flex;
  padding-left: 10%;
  gap: 7%;
  flex-direction: column;
  justify-content: center;
}

.about .content-container .text {
  font-size: 15px;
  width: 100%;
}

.about .content-container button {
  width: max-content;
  outline: none;
  font-size: 15px;
  height: 45px;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  padding: 1em 3em;
  background: var(--orange-main);
  white-space: nowrap;
  text-align: center;
  color: var(--white-main);
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  justify-content: center;
}

.about .content-container button:hover {
  border-color: var(--orange-main);
  color: var(--orange-main);
  background: transparent;
}

.about .content-container button:active {
  transform: scale(0.98);
}

@media (max-width: 780px) {
  .about .max-width {
    flex-direction: column;
    align-items: center;
  }
  .about .img-container {
    margin-bottom: 20px;
  }

  .about .img-container::before {
    display: none;
  }

  .about .content-container .text {
    width: 90%;
  }
  .about .content-container {
    padding-left: 0%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .about .content-container button {
    width: 40%;
  }
}
